@using ASP_Meeting_18.Data;
@using ASP_Meeting_18.Models.DTO;
@using ASP_Meeting_18.Models.ViewModels.HomeViewModels
@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <form asp-action="Index" method="get">   
        <div class="d-flex search_div" role="search">
            <input type="text" asp-for="Search" placeholder="Search in product name..." class="search_input card_border" />
            <button type="submit" class="btn button_add search_button card_border">Seacrh</button>
        </div>
    </form>
    <div class="col-3">
        @await Component.InvokeAsync("CategoriesMenu",
        new {currentCategory=Model.Category,controller = "Home"})
    </div>
    <div class="col">
        <div class="container-fluid">
            <div class="row row-cols-2">
                @foreach (ProductDTO product in Model.Products)
                {
                    await Html.RenderPartialAsync("_ProductCard", product);
                }
            </div>
        </div>
        <nav aria-label="pagination example">
            <ul class="pagination">
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li class="@(i==Model.Page ? "page-item active" : "page-item" )">
                        <a asp-action="Index" asp-route-page="@i" asp-route-category="@Model.Category" class="page-link">@i</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>
