@using ASP_Meeting_18.Models.ViewModels.AccountViewModels
@model ChangeRolesViewModel
<h1>Change Roles for User @Model.UserName</h1>
<form asp-action="ChangeUserRoles" method="post">
    <input type="hidden" value="@Model.UserId" />
    @foreach (var role in Model.AllRoles)
    {
        <input type="checkbox" name="roles"  
                      @(Model.UserRoles.Contains(role.Name) ? "checked" : "") value="@role.Name" />
        <span class="ms-3">@role.Name</span>
        <br />
    }
    <input type="submit" value="Save" class="btn btn-success" />
</form>
<hr />
<a asp-action="UserList" class="btn btn-secondary mt-3">Back to user list</a>
