@model string?[]
<h2 class="alert alert-primary">User Info</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach(string? str in Model)
            {
                <td>@str</td>
            }
        </tr>
    </tbody>
</table>
