
@model LoginViewModel
<div class="wrapper">
    <div class="__container">
        <div class="form">
            <form asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="ReturnUrl" />
                <div class="mb-3">
                    <label asp-for="Login" class="form-label"></label>
                    <input asp-for="Login" class="form-control" />
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3 form-check">
                    <input asp-for="IsPersistent"  type="checkbox" class="form-check-input">
                    <label asp-for="IsPersistent" class="form-check-label"></label>
                </div>
                <input type="submit" value="Login" class="btn btn-primary" />
                <a asp-action="GoogleAuth" asp-controller="Account" class="btn btn-primary">Login with Google</a>
                <a asp-action="FbAuth" asp-controller="Account" class="btn btn-primary">Login with Facebook</a>
            </form>
        </div>
    </div>
</div>