@using ASP_Meeting_18.Models.DTO;
@model ASP_Meeting_18.Models.ViewModels.AccountViewModels.IndexShopViewModel


<div class="row">
    <div class="row">
        <div class="col col-md-3 col-12 mt-2">
            <a class="btn btn-success" asp-controller="Product" asp-action="CreateCategory">CreateCategoty</a>
        </div>
        <div class="col col-md-3 col-12 mt-2">
            <a class="btn btn-success" asp-controller="Product" asp-action="CreateProduct">CreateProduct</a>
        </div>
    </div>
    <div class="col-3">
        @*<vc:categories-menu current-category="Apple"></vc:categories-menu>*@
        @await Component.InvokeAsync("CategoriesMenu",
        new {currentCategory=Model.Category,controller = "Admin"})
    </div>
    <div class="col">
        <div class="container-fluid">
            <div class="row row-cols-2">
                @foreach (ProductDTO product in Model.Products)
                {
                    await Html.RenderPartialAsync("_ProductCard", product);
                }
            </div>
        </div>
        <nav aria-label="pagination example">
            <ul class="pagination">
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li class="@(i==Model.Page ? "page-item active" : "page-item" )">
                        <a asp-controller="Admin" asp-action="Index" asp-route-page="@i" asp-route-category="@Model.Category" class="page-link">@i</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>